li {
    display: inline;
}

.right {
    position: absolute;
    right: 0px;
}

#google-pic {

      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -150px;
}
  
.center{ width: 600px;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -10px;
      margin-left: -300px;
}



   /* margin: 50px; */ 




a { color: inherit; } 

/*#center-bar {
  margin-left: auto;
  margin-right: auto;
  width: 65 em;
}*/

#bottom {  
    position: fixed;
        margin-top: 500px;
        
}

#right-bottom {
  position: fixed;
  margin-left: 1100px;
  margin-top: 500px;
}
